:root {
    font-size: 16px;

    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;

    --font-h: Helvetica;
    --font-g: Georgia;
    --font-a: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(../../assets/icons/cursor-normal.svg), auto;
}

*:focus {
    outline: none;
}

*:active {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

.seo {
    display: none;
}

.header {
    width: 100%;
    height: 120px;
    position: fixed;    
    top: 0;
    padding-top: 31px;
    padding-bottom: 30px;
    background-color: var(--color-light-xl);
    z-index: 1000;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.header-logo-title {
    font-family: var(--font-g);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.header-logo-subtitle {    
    color: var(--color-dark-3xl);
    font-family: var(--font-a);
    font-size: 13px;
    line-height: 110%;    
    align-items: center;
    margin-top: 10px;
    letter-spacing: 0.1em;
}

.header-menu {
    display: flex;
    width: 443px;    
}

.header-menu-list {
    display: flex;    
    width: 100%;
    margin: 0;
    padding: 0;    
    padding-bottom: 5px;
    list-style-type: none;
    justify-content: space-between;
}

.header-menu-item {
    display: flex;
    align-items: center;
}

.header-menu-item-link {
    font-family: Arial;
    font-size: 0.9375rem;
    line-height: 160%;    
    letter-spacing: 0.001em;
    color: var(--color-dark-l);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.header-menu-item-link:hover {
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-3xl);
}

.header-menu-item-link-active {
    position: relative;
    top: 1px;
    font-family: var(--font-a);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-l);
    border-bottom: solid 3px var(--color-primary);
}

.friends {
    width: 100%;    
    background: var(--color-light-l);
}

.wrapper-friends {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.friends-title {
    width: 400px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.friends-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.friends-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 30px;
}

.friends-row:last-child {
    margin-bottom: 0;
}

.friends-view {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.friends-slider-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: var(--color-light-s);
}

.friends-slider-card:hover {
    background: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.pets-card-title:hover {    
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.friends-card-image {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.nav {
    display: flex;
    justify-content: center;
}

.friends-slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;    
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-light-l);
}

.friends-slider-button:hover:enabled {
    background-color: var(--color-primary-light);
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.friends-button-active {
    background-color: var(--color-primary);
}

.friends-slider-button:disabled {
    border: 2px solid var(--color-dark-s);
}

h4.disabled {
    color: var(--color-dark-s);
}

.friends-card-button {
    width: 187px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;    
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--color-light-xl);    

    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-xl);
}

.friends-card-button:hover {
    background-color: var(--color-primary-light);
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.friends-button {
    width: 261px;
    height: 52px;
    margin-top: 0px;
    border-radius: 100px;
    border: none;
    color: var(--color-dark-xl);
    font-family: var(--font-g);
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: var(--color-primary);    
}

.friends-button:hover {
    background-color: var(--color-primary-light);
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

#slder-card:hover {
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

.footer {
    width: 100%;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-footer {
    display: flex;    
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.footer-title {
    width: 302px;
    font-family: var(--font-g);
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer-info-block {
    margin-top: 57px;
}

.footer-info-block2 {
    position: relative;
    left: -20px;
    top: 1px;
}

.footer-info-block-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.footer-info-block-item2 {
    position: relative;
    top: -8px;
    margin-top: 40px;
}

.footer-info-block-item3 {
     margin-top: 24px;
}

.footer-block-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.footer-block-text {    
    width: 302px;
    color: var(--color-primary);
}

.footer-image {
    margin-top: 40px;
    width: 300px;
    height: 310px;
    margin-bottom: 0;
}

a {
    color: var(--color-primary);
    font-family: var(--font-g);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
}

a:hover {
    color: var(--color-light-l);
    cursor: url(../../assets/icons/cursor-hover.svg), auto;
}

/* h1 */
h1 {
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-dark-l);
}

h2 {
    font-family: var(--font-g);
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-dark-l);
}

h3 {
    color: var(--color-dark-l);
    font-family: var(--font-g);;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    color: var(--color-dark-3xl);
    font-family: var(--font-g);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

h5 {
    font-family: var(--font-g);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

